.skeleton {
  overflow: hidden;
  position: relative;
  background-color: var(--extra-light);
}

.skeleton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 100%;
  background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
  animation: skeleton-loading 2s infinite linear;
}

@keyframes skeleton-loading {
  0% {
    transform: translateX(0);
  }
  50%,
  100% {
    transform: translateX(370px);
  }
}
