.wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 8px;

  width: 100%;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 4px;
}

.img {
  width: 160px;
  height: 160px;
}

.name {
  width: 80px;
  height: 10px;
}

.price {
  width: 60px;
  height: 10px;
}
