.button {
  text-align: center;
  cursor: pointer;
  min-width: 175px;
  height: 56px;
  padding: 16px 24px 14px;

  &:disabled {
    cursor: not-allowed;
  }

  @media (max-width: 375px) {
    height: 48px;
  }
}

.button-with-icon {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.primary {
  background-color: var(--black);
  color: var(--white);

  &:hover {
    background-color: var(--dark-gray);
    color: var(--white);
  }
  &:disabled {
    background-color: var(--light-gray);
    color: var(--gray);
  }

  &:active {
    background-color: var(--black);
    color: var(--white);
  }
}

.secondary {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);

  &:hover {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--black);
  }

  &:disabled {
    background-color: var(--white);
    color: var(--light-gray);
    border: 1px solid var(--light-gray);
  }

  &:active {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
  }
}

.tertiary {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);

  &:hover {
    background-color: var(--white);
    color: var(--dark-gray);
    border: 1px solid var(--white);
  }

  &:disabled {
    background-color: transparent;
    color: var(--light-gray);
    border: 1px solid var(--light-gray);
  }

  &:active {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--white);
  }
}

.full {
  width: 100%;
}
