.labelStyled {
  position: relative;
  width: auto;
  height: auto;
  cursor: pointer;
}

.labelStyled img {
  display: none;
}

.labelStyled input,
.labelStyled span {
  vertical-align: text-top;
}

.labelStyled:active {
  color: var(--gray);
}

.hiddenInput {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  border: 1px solid var(--black);
  background-color: var(--light-gray);
  cursor: pointer;
  appearance: none;
  position: relative;
}

.hiddenInput:checked + img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
